.logs h3{
    text-align: left;
}

.logs{
    padding-top: 40px;
}

.log-effort {
    padding: 0;
}

.log-effort li {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.log-effort label {
    float: left;
    width: 40%;
    margin-top: 20px;
}

.log-effort .form-control {
    float: left;
    width: 60%;
}