<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

  	<context:component-scan base-package = "com.spring.planview.controller" />
  
    <mvc:resources mapping = "/pages/*" location = "/WEB-INF/pages/" /> 
      <mvc:resources mapping = "/static/**" location = "/WEB-INF/pages/static/**" /> 
     
      
  <mvc:annotation-driven />
  
  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url"
			value="jdbc:postgresql://localhost:5432/planviewDB" />
		<property name="username" value="postgres" />
		<property name="password" value="admin" />
	</bean>
  
  <bean id="registrationService" class="com.spring.planview.service.RegistrationServiceImpl"></bean>
  
  <bean id="registrationDao" class="com.spring.planview.dao.RegistrationDAOImpl"></bean>
  
  <bean id="loginService" class="com.spring.planview.service.LoginServiceImpl"></bean>
  
  <bean id="loginDao" class="com.spring.planview.dao.LoginDAOImpl"></bean>
  
  <bean id="timesheetService" class="com.spring.planview.service.TimesheetServiceImpl"></bean>
  
  <bean id="timesheetDao" class="com.spring.planview.dao.TimesheetDAOImpl"></bean>
  
  <bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.spring.planview.model.UserRegistration</value>
				<value>com.spring.planview.model.Timesheet</value>
				<value>com.spring.planview.model.Roles</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
			
		</property>
		<!-- <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/PlanviewDB</property> -->

		
	</bean>
	
</beans>