
.wrap-login{
  background: url('../../images/login-bg.jpg');
  width: 100%;
  background-size: cover;

}

.login-form .btn{
  width: 100%;
  margin-bottom: 20px;
}

.login-form h2{
  text-align: center;
}



.login-form .logo{
  width: 200px;
  margin-bottom: 20px;
}

.wrap-logo{
  float: left;
  width: 100%;
  text-align: center;
}