.wrap-registration{
  padding-top: 0px;
}

.wrap-registration h2{
  text-align: center;
}

.registration.box-1{
  height: 550px;
  margin-top: -250px;
  padding: 0;
  border: none;
  float: right;
  right: 20%;
  left: auto;
  background: transparent;
}

.thumb-register{
  position: fixed;
  left: 0;
  width: 40%;
  overflow: hidden;
}

.thumb-register img{
  width: 100%;
}
